<form name="medform" #form="ngForm" autocomplete="off" (ngSubmit)="onSubmit(form)" class="form-container">


    <input  type="hidden" name="MedicineId" [(ngModel)]="medicineService.formData.MedicineId">



    <div class="form-grup">
        <label style="margin-left: 10px ">Medicine Code</label>
        <input name="MedicineCode" #MedicineCode="ngModel" [(ngModel)]="medicineService.formData.MedicineCode"
            class="form-control" placeholder="Enter the Medicine Code" minlength="3" maxlength="25" required
            [ngClass]="{'is-invalid':MedicineCode.touched && MedicineCode.invalid}" style="margin-left: 10px ">


        <div class="validation-error" *ngIf="MedicineCode.touched && MedicineCode.invalid">
            <div>Medicine Code Is Required</div>
        </div>

    </div>
    <br>





    <div class="form-grup">
        <label style="margin-left: 10px ">Medicine Name</label>
        <input name="MedicineName" #MedicineName="ngModel" [(ngModel)]="medicineService.formData.MedicineName"
            class="form-control" placeholder="Enter the Medicine Name" minlength="3" maxlength="25" required
            [ngClass]="{'is-invalid':MedicineName.touched && MedicineName.invalid}" style="margin-left: 10px ">


        <div class="validation-error" *ngIf="MedicineName.touched && MedicineName.invalid">
            <div>Medicine Name Is Required</div>
        </div>

    </div>
    <br>



    <div class="form-grup">
        <label style="margin-left: 10px ">Generic Name</label>
        <input name="GenericName" #GenericName="ngModel" [(ngModel)]="medicineService.formData.GenericName"
            class="form-control" placeholder="Enter the Generic Name" minlength="3" maxlength="25" required
            [ngClass]="{'is-invalid':GenericName.touched && GenericName.invalid}" style="margin-left: 10px ">


        <div class="validation-error" *ngIf="GenericName.touched && GenericName.invalid">
            <div>Generic Name Is Required</div>
        </div>

    </div>
    <br>


    <div class="form-grup">
        <label style="margin-left: 10px ">Company Name</label>
        <input name="CompanyName" #CompanyName="ngModel" [(ngModel)]="medicineService.formData.CompanyName"
            class="form-control" placeholder="Enter the Company Name" minlength="3" maxlength="25" required
            [ngClass]="{'is-invalid':CompanyName.touched && CompanyName.invalid}" style="margin-left: 10px ">


        <div class="validation-error" *ngIf="CompanyName.touched && CompanyName.invalid">
            <div>Company Name Is Required</div>
        </div>

    </div>


    <br>


    <div class="form-grup">
        <label style="margin-left: 10px ">Stock Quantity</label>
        <input name="StockQuantity" #StockQuantity="ngModel" [(ngModel)]="medicineService.formData.StockQuantity" class="form-control"
            placeholder="Enter Stock Quantity" minlength="1" maxlength="25" required
            [ngClass]="{'is-invalid':StockQuantity.touched && StockQuantity.invalid}" style="margin-left: 10px ">


        <div class="validation-error" *ngIf="StockQuantity.touched && StockQuantity.invalid">
            <div>Stock Quantity Is Required</div>
        </div>

    </div>
    <br>

    <div class="form-grup">
        <label style="margin-left: 10px ">Unit Price</label>
        <input name="UnitPrice" #UnitPrice="ngModel" [(ngModel)]="medicineService.formData.UnitPrice" class="form-control"
            placeholder="Enter Unit Price" minlength="1" maxlength="25" required
            [ngClass]="{'is-invalid':UnitPrice.touched && UnitPrice.invalid}" style="margin-left: 10px ">


        <div class="validation-error" *ngIf="UnitPrice.touched && UnitPrice.invalid">
            <div>Unit Price Is Required</div>
        </div>

    </div>



    <br>


    <div class="form-group">
        <button type="submit" [disabled]="!(form.valid && form.dirty)"
            class="btn btn-sm btn-primary form-control">SUBMIT</button>
    </div>






</form>
<button class="btn btn-dark "style="float: left; margin-left: 0px;"   (click)="goBack()">Back</button>
