.card {
  background-color: rgba(47, 79, 79, 0.036);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(47, 79, 79, 0.545);
  margin-left: 30%;
  width: 45%; /* Adjust the width as needed */
margin-top: 5%;
}


h3, h5 {

  text-align: left;
  margin-left: 34%;
  font-size: 130%;
  font-weight: bold;
  font-family:Georgia, 'Times New Roman', Times, serif
}


h3{
  font-size: 200%;
}
td {
  padding: 5px;
  width: 5%; /* Adjust the width as needed */
}



.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  color: #fff;
}

.listView {
  background-color: #007bff;
}

.diagnosis {
  background-color: #28a745;
}

.history {
  background-color: #6c757d;
}
