
<div class="card">
  <br>
  <h3>Patient Details</h3>
  <br>
  <br>
  <!-- <h5>ID: {{patient.AppointmentId}}</h5> -->
  <table class="patienDetails">
    <tr>
      <td><h5>Patient Name:</h5></td>
      <td><h5>: {{patient.PatientName}}</h5></td>
    </tr>
    <tr>
      <td><h5>Gender:</h5></td>
      <td><h5>: {{patient.Gender}}</h5></td>
    </tr>
    <tr>
      <td><h5>Age</h5></td>
      <td><h5>: {{patient.PatientAge}}</h5></td>
    </tr>
    <tr>
      <td><h5>Blood Group:</h5></td>
      <td><h5>: {{patient.BloodGroup}}</h5></td>
    </tr>
    <tr>
      <td><h5>Phone Number:</h5></td>
      <td><h5>: {{patient.PhNo}}</h5></td>
    </tr>
  </table>

<br><br><br>
  <!-- <h5>Appointment Status: {{patient.CheckupStatus}}</h5> -->
  <div class="button-container">
    <button class="btn btn-dark" (click)="AppointmentListView()">Back</button>
    <button class="diagnosis" (click)="AddDiagnosis(patient.AppointmentId)">Add Diagnosis</button>
    <button class="history" (click)="PatientHistory(patient.PatientId)">Patient History</button>
  </div>
</div>

