<div style="background-color: #eccbf5; height: 100vh;">
    <!-- Your component content goes here -->
  
    <div class="admin-home-container">
      <!-- Background Image -->
      <br>
      <h3 style="color: black; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif" >Welcome Admin Aaron!</h3>
      <!-- Content Container -->
      <div class="content-container">
        <!-- Page Heading -->
 
        <!-- Three Large Buttons -->
        <div class="buttons-container">
          <!-- Laboratory Management Button -->
          <button class="large-button" (click)="navigateToLaboratoryManagement()">
            Laboratory Management
          </button><br>
  
          <!-- Medicine Management Button -->
          <button class="large-button" (click)="navigateToMedicineManagement()">
            Medicine Management
          </button><br>
  
          <!-- Staff Management Button -->
          <button class="large-button" (click)="navigateToStaffManagement()">
            Staff Management
          </button>
        </div>
      </div>
    </div>
  
    <!-- Your component content goes here -->
  </div>
  
 
