<div class="container-fluid bg-light">
  <div class="row vh-100 justify-content-center align-items-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body text-center p-5">
          <h3 class="text-dark mb-4">Welcome Admin Aaron!</h3>
          <div class="row">
            <div class="col-md-4">
              <button class="btn btn-primary btn-lg btn-block mb-3 btn-laboratory" (click)="navigateToLaboratoryManagement()">
                Laboratory Management
              </button>
            </div>

            <div class="col-md-4">
              <button class="btn btn-success btn-lg btn-block mb-3 btn-medicine" (click)="navigateToMedicineManagement()">
                Medicine Management
              </button>
            </div>

            <div class="col-md-4">
              <button class="btn btn-info btn-lg btn-block mb-3 btn-staff" (click)="navigateToStaffManagement()">
                Staff Management
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  .btn-laboratory {
    background-color: #145015;
    color: white;
  }

  .btn-medicine {
    background-color: #726a11;
    color: white;
  }

  .btn-staff {
    background-color: #6b0c22;;
    color: white;
  }
</style>
