
.admin-home-container {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.content-container {
  position: relative;
  z-index: 1;
  padding: 10px;
  text-align: center;
  color: white;
}

.buttons-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center buttons horizontally */
  justify-content: center; /* Center buttons vertically */
  margin-top: 20px;
  text-align: center;
}

.large-button {
  width: 300px; /* Adjust button width as needed */
  height: 120px;
  background-color: #581845;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  color: white;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Center text vertically */
}

.large-button img {
  width: 60px;
  height: 60px;
  margin-bottom: 10px;
}