<p>bill works!</p>
<div class="lab-report">
    <h2>Bill</h2>
     <div>
      <label>appointmentId:</label>
      <span>{{ lLabTestsVMService.formData.AppointmentId }}</span>
    </div>
    <div>
      <label>Patient Name:</label>
      <span>{{ lLabTestsVMService.formData.PatientName }}</span>
    </div>
    <div>
      <label>Test Name:</label>
      <span>{{ lLabTestsVMService.formData.TestName }}</span>
    </div>
    <div>
      <label>price:</label>
      <span>50</span>
    </div>
    <div>
      <label>Total Amount:</label>
      <span>50</span>
    </div>
    
    
   
   
    <button (click)="printLabReport()">Print</button>
  </div>
  <div><button (click)="goBack()">Back</button></div>