<h1 class="text-center font-weight-bold">APPOINTMENT LIST</h1>
<br>
<div class="search-bar-container">
  <input class="form-control custom-search" type="text" placeholder="Search name here" [(ngModel)]="filter">
</div>
<br>
<div class="table-container">
  <table class="table table-bordered table-hover text-center">
    <thead>
      <tr>
        <th>Token No</th>
        <th>Patient Name</th>
        <th>Gender</th>
        <th>Age</th>
        <th>Appointment Status</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let appointments of doctorAppointmentService.appointments | filter:filter | paginate:{itemsPerPage:5, currentPage:page}">
        <td>{{appointments.TokenNo}}</td>
        <td>{{appointments.PatientName}}</td>
        <td>{{appointments.PatientGender}}</td>
        <td>{{appointments.PatientAge}}</td>
        <td>{{appointments.CheckupStatus}}</td>
        <!-- <td>
          <button class="btn btn-secondary" (click)="ViewPatientDetails(appointments.AppointmentId)">Details</button>
        </td> -->
      </tr>
    </tbody>
  </table>
</div>
<div class="footer">
  <pagination-controls (pageChange)="page=($event)"></pagination-controls>
</div>
<div class="mt-3">
  <a class="btn btn-secondary" (click)="backtoPatientList()">Back</a>
</div>
<br><br><br><br><br><br><br><br>


