
  <h3>Welcome Dr. Hima S Biju</h3>
  <h2 >Today's Appointments</h2>
  <br>

  <table class="table table-hover text-center">
    <thead>
      <tr>
        <th>Token No</th>
        <th>Patient Name</th>
        <th>Gender</th>
        <th>Age</th>
        <th>Appointment Status</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let appointments of doctorAppointmentService.appointments | filter:filter | paginate:{itemsPerPage:5, currentPage:page}">
        <td>{{appointments.TokenNo}}</td>
        <td>{{appointments.PatientName}}</td>
        <td>{{appointments.PatientGender}}</td>
        <td>{{appointments.PatientAge}}</td>
        <td>{{appointments.CheckupStatus}}</td>
        <td>
          <button class="btn btn-secondary" (click)="ViewPatientDetails(appointments.AppointmentId)">Details</button>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="footer">
    <pagination-controls (pageChange)="page=($event)"></pagination-controls>
  </div>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

