
  <h3>Welcome Dr. Hima S Biju</h3>
  <h2 >Today's Appointments</h2>
  <br>
  <input class="form-control" type="text" placeholder="Search name here" [(ngModel)]="filter">
 <br>
  <div class="table-container">
  <table class="table table-hover text-center">
    <thead>
      <tr>
        <th>Token No</th>
        <th>Patient Name</th>
        <th>Gender</th>
        <th>Age</th>
        <th>Appointment Status</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let appointments of doctorAppointmentService.appointments | filter:filter | paginate:{itemsPerPage:5, currentPage:page}">
        <td>{{appointments.TokenNo}}</td>
        <td>{{appointments.PatientName}}</td>
        <td>{{appointments.PatientGender}}</td>
        <td>{{appointments.PatientAge}}</td>
        <td>{{appointments.CheckupStatus}}</td>
        <td>
          <button class="btn btn-secondary" (click)="ViewPatientDetails(appointments.AppointmentId)">Details</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
  <div class="footer">
    <pagination-controls (pageChange)="page=($event)"></pagination-controls>
  </div>
  <br><br><br><br><br><br><br><br>



