<div class="container">
    <div class="header">
        <br>
        <div class="form-control">
            <input class="form-control" type="text" placeholder="Search Text Here..."
            [(ngModel)]="filter">
        </div>



    </div>





<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>TestId</th>
            <th>TestName</th>
            <th>LowRange</th>
            <th>HighRange</th>
            <th> TestPrice</th>
            <th> Action</th>


        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let lab of labService.lab | filter:filter">
            <td>{{lab.TestId}}</td>
            <td>{{lab.TestName}}</td>
            <td>{{lab.LowRange}}</td>
            <td>{{lab.HighRange}}</td>
            <td>{{lab.Price}}</td>


            <td>
                <button class="btn btn-sm btn-outline-primary" (click)="updateLabTests(lab.TestId)">Edit</button>&nbsp;
                <button class="btn btn-sm btn-outline-danger" (click)="deleteMedicine(i)">Delete</button>

            </td>
        </tr>
    </tbody>
</table>
<button class="btn btn-dark "style="float: left; margin-left: 0px;"   (click)="goBack()">Back</button>
<a [routerLink]="['../add-labtests']" class="btn btn-success" style="float: right; margin-right:0px;" >Add Employee</a>

</div>
